body{
    text-align: center;
    background-color: coral;
    
}
div{
    margin-top:15px;
}
.image-section{
    display:flex;
    justify-content:center;
}
.section-style{
    margin-right:10x;
    margin-left: 10px;
    background-color: white;
    
}
img{
    border-style:solid;
  border-color:#D81B60;
  border:1px;
  border-radius:80px;
  padding:5px;
  width:600px;
  height:500px;
}
